.contact-form {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  margin-top: -63%;
  margin-bottom: 190px;
  position: relative;
}

.contact-shape-position {
  position: absolute;
  right: -35px;
  bottom: -55px;
  z-index: -1;
}

.form-container {
  padding-left: 95px;
}

.form-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #0A071B;
  padding-bottom: 20px;
  padding-top: 59px;
}

.form-group {
  margin: 25px 10px;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0A071B;
  margin: 10px 0;
}

.form-control {
  padding: 0;
}

.form-group textarea::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  padding: 5px;
}

.form-group textarea {
  width: 100% !important;
  height: 130px !important;
  border: 1px solid #C4C4C4 !important;
  border-radius: 5px !important;
  padding: 8px;
}

.form-group input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  padding: 5px;
}

.form-group input {
  width: 100% !important;
  height: 80% !important;
  border: 1px solid #C4C4C4 !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  padding: 8px;
}

.form-group input:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}

.form-group textarea:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}

/* =========  SuccesFull-Container-style ========== */
.successfull-container {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  margin-top: -180px;
  padding-left: 95px;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 60px;
}

.success-form-shape {
  position: absolute;
  right: -35px;
  bottom: -65px;
  z-index: -1;
}

.message-container {
  width: 80%;
  height: 75px;
  background: #F58859;
  border-radius: 5px;

}

.succes-tittle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  height: 100%;
}

.message-container {
  position: relative;
}

.image-sucees {
  position: absolute;
  top: 0;
  left: 0;
}

/* Contact-Form-responsive */

@media (max-width:992px) {
  .form-container {
    padding-left: 20px;
  }

  .form-group {
    width: 80% !important;
    height: 80% !important;
    margin: 15px auto;
  }

  .form-group input {
    width: 100%;
    height: 80%;
    padding: 20px 5px !important;
  }

  .form-heading {
    text-align: center;
  }
}

@media (max-width:602px) {
  .contact-shape-position {
    right: 0px;
    bottom: -85px;
    z-index: 1;
  }
}

@media (max-width:432px) {
  .form-container {
    padding-left: 0px;
  }
}


/* successfull Container Responsive */

@media (max-width:1198px) {
  .message-container {
    height: 68px;
  }
}
@media (max-width:1040px) {
    .success-form-shape {
      position: absolute;
      right: -20px;
      bottom: -65px;
      z-index: -1;
    }
}
@media (max-width:988px) {
  .message-container {
    height: 60px;
  }
  .image-sucees {
    position: absolute;
    top: 0;
    left: -30px;
  }
}
@media (max-width:767px) {
  .form-heading {
    text-align: center;
  }
  .succes-tittle {
    text-align: center;
    font-size: 16px;
  }
  .image-sucees {
    top: 0;
    left: -10px;
  }
  .message-container {
    width: 100%;
    height: 75px;
  }
 .successfull-container {
    padding-left: 10px;
  }
  
}
@media (max-width:767px) {
  .success-form-shape {
    position: absolute;
    right: 0px;
    bottom: -95px;
    z-index: -1;
  }
  .image-sucees {
    top: -10px;
    left: -9px;
  }
}
