.contact-banner-container {
  background-color: var(--first-primary-color);
  z-index: -2;
  position: relative;
  padding-bottom: 560px;
}

.contact-sub-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #BCB8D0;
  padding-top: 127px;
}

.contact-main-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  padding: 16px 0 72px 0;
}

.contact-position-image {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 1;
}

@media (max-width:984px) {
  .contact-position-image {
    position: absolute;
    top: 14%;
    left: 8%;
    z-index: 1;
  }
  .contact-banner-container {
    padding-bottom: 400px;
  }
}
@media (max-width:773px) {
  .contact-position-image {
    position: absolute;
    top: 13%;
    left: 14%;
    z-index: 1;
  }
  .contact-banner-container {
    padding-bottom: 300px;
  }
}
@media (max-width:532px) {
  .contact-position-image {
    position: absolute;
    top: 15%;
    left: 0%;
    z-index: 1;
  }
}
@media (max-width:432px) {
  .contact-position-image {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1;
  }
  .contact-banner-container {
    padding-bottom: 200px;
  }
  .contact-main-heading {
    font-size: 56px;
    line-height: 80px;
    padding: 16px 0 72px 0;
  }
  .contact-sub-title {
    padding-top: 57px;
  }
}