.Slider-container {
  margin-bottom: 30px;
}

#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 458px;
  height: 458px;
  margin-bottom: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide img:hover {
  background-color: aqua !important;
}

.slider-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  color: #0A071B;
  margin-bottom: 70px;
}


@media (max-width:550px) and (min-width:300px) {
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .slider-heading {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0px;
  }
  .swiper {
   padding: 10px 0;
}
}