.core-work-back {
  background: #f5f4f4;
}

.core-service-gap {
  margin: 60px 0;
}

.core-work-image-container {
  margin: -28% 0 90px 0;
}

.core-work-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: #0A071B;
  position: relative;
  z-index: 2;
}

.core-background {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.core-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #0A071B;
}

.core-sub-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 32px;
  color: #5B5675;
}

.core-satting {
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

@media (max-width:624px) {
  .core-satting {
    position: absolute;
    top: -15px;
    left: -10px;
  }

  .core-heading-content {
    padding: 20px;
  }
  .core-work-image-container {
    margin: -28% 0 50px 0;
  }
}