.Services-Container {
  background-color: var(--first-primary-color);
  position: relative;
}

.service-shape {
  position: absolute;
  top: 230px;
  left: -5px;
}

.servicesPage-content {
  padding: 120px 0px;
}

.servicesPage-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #BCB8D0;
  text-align: center;
}

.servicesPage-main-title {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

.servicesPage-shape-position {
  position: absolute;
  top: -30px;
  left: -34px;
  z-index: -1;
}


@media (max-width:816px) and (min-width:540px) {
  .service-shape {
    position: absolute;
    top: 210px;
    left: -100px;
  }

  .servicesPage-content {
    padding: 90px 0px;
  }
}

@media (max-width:539px) and (min-width:485px) {
  .service-shape {
    position: absolute;
    top: 220px;
    left: -130px;
  }
  .servicesPage-content {
    padding: 90px 0px;
  }
  .servicesPage-shape-position {
    top: 0px;
    left: 0px;
  }

  .servicesPage-main-title {
    font-size: 58px;
    line-height: 86px;
  }
}

@media (max-width:484px) and (min-width:300px) {
  .service-shape {
    position: absolute;
    top: 230px;
    left: -115px;
  }

  .servicesPage-main-title {
    font-size: 52px;
    line-height: 76px;
  }

  .servicesPage-shape-position {
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  .servicesPage-content {
    padding: 60px 0px;
  }
}